{% extends 'base.html' %}
{% from '_macros.html' import field, password_field %}
{% block title %}Login - Car Rental System{% endblock %}
{% block content %}
    <div class="form-container">
        <h2>Login</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            {{ field(form.username) }}
            {{ password_field(form.password, 'password') }}
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %} 